<nav class="navbar navbar-expand-md bg-color"> <!-- Start nav-->
            
<div class="container d-flex">

  <a href="#" class="navbar-brand"><i class="material-icons brand">fastfood</i><span class="text-brand">Hotdok</span></a> <!-- logo -->
  <button type="button" class="navbar navbar-toggler navbar-light navbar-default" data-toggle="collapse" data-target="#collapse-bar"><span class="navbar-toggler-icon"></span></button>
  
  <div class="collapse navbar-collapse justify-content-md-end" id="collapse-bar">
    <ul class="navbar-nav">
        <li class="nav-item text-color"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item text-color"><a href="#" class="nav-link">Combos</a></li>
        <li class="nav-item text-color"><a href="#" class="nav-link">Sobre</a></li>
    </ul>
 </div>        

 
</div> <!-- end container -->

</nav> <!-- end nav-->