 <section> <!-- Start section -->
          <div @fade class="container">

              <h4>Destaques <i class="material-icons notificationicon">notification_important</i></h4>

            <div class="row">
              <div class="col-md-4 col-sm-12">

                  <div class="card" style="">
                      <img class="card-img-top" src="/src/assets/img/menu/cachorroquente_tradicional.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Nome</h5>
                        <p class="card-text">Descrição</p>
                        <a href="#" class="btn btn-primary">link</a>
                      </div>
                    </div>
                      
                </div> <!-- end col-->
                
            <div class="col-md-4 col-sm-12">
     
                <div class="card" style="">
                    <img class="card-img-top" src="../../assets/img/menu/cachorroquente_tradicional.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Nome</h5>
                      <p class="card-text">Descrição</p>
                      <a href="#" class="btn btn-primary">link</a>
                    </div>
                  </div>
                          
              </div> <!-- end col-->

            <div class="col-md-4 col-sm-12">
  
                <div class="card" style="">
                    <img class="card-img-top" src="../../assets/img/menu/cachorroquente_tradicional.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Nome</h5>
                      <p class="card-text">Descrição</p>
                      <a href="#" class="btn btn-primary">link</a>
                    </div>
                  </div>
                              
              </div> <!-- end col-->
                
            </div> <!-- end row-->

          </div>  <!-- end container-->

        </section> <!-- end section -->

        <section>
          <div @fadeIn class="container">

              <div class="jumbotron">
                  <h1 class="display-2">Bem vindo ao Hotdok!</h1>
                  <p class="lead">Hotdok é um restaurante contando com entregas locais e delivery, experiemente nosso serviço.</p>
                  <hr class="my-4">
                  <p class="lead">
                    <a class="btn btn-lg" href="#" role="button">Ver combos</a>
                  </p>
                </div>

          </div> <!-- end container-->
        </section> <!-- end section -->
